
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <%= image_tag @user.gravatar_url %>
        </div>

            <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.first_name %>
            <%= @user.last_name %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.email %>
          </div>
        </div>
       
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>

        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="/users/:user_id/locations">
                <i class="glyphicon glyphicon-road"></i>
                View My Locations </a>
              </li>
              <li>
                <a href="#">
                  <i class="glyphicon glyphicon-user"></i>
                  Edit Account </a>
                </li>

              </ul>
            </div>
    
          </div>
        </div>
        <div class="col-md-9">
          <div class="profile-content">

            <h2><small>Following</small></h2>
            <table class="reference" style="width:80%">
              <tr>
                <th>Name</th>
                <th>Email</th>    
              </tr>
              <% @user = User.all %>
              <% @user.each do |user| %>
              <tr>
                <td><%= "#{user.first_name} " "#{user.last_name}" %></td>
                <td><%=  "#{user.email}" %></td>    
              </tr>
              <% end %>
            </table>


          </div>
        </div>
      </div>
    </div>

    <br>
    <br>