<% if current_user %>


<div class="wrapper">
    <div class="box">
        <div class="row">
            <div class="column col-sm-3" id="sidebar">
                <ul>
                  <a class="btn btn-primary btn-lg" role="button" <%= link_to 'Add New Location', user_location_new_path %></a>
                </ul>


                <ul>
                  <h2><small>Listing Places</small></h2>
                </ul>
  

              <% @user.locations.each do |location| %>
          
                <ul>
                  <b><%= location.address %></b></br>
                  <i>Description:</i> <%= location.description %></br>
                  <i>Date: </i> <%= location.name %>
                  <%= link_to 'Delete', "/users/:user_id/locations/:id", method: :delete %>
                </ul>      
    
              <% end %>

 
            </div>

        <div class="full col-sm-9">
          <div class="col-sm-12">   
              <div id="map"></div>
 
          </div>
        </div>
      </div>  
    </div>
  </div>



<% else %>

  <body>
    <div class="container" id="heading-text">
      <h1><small>See where people are traveling</small></h1>
    </div>
    <div class="container" id="map"></div>
  </body>
      
<% end %>


<script type="text/javascript">



$(document).on("page:change", initMap) 

function initMap(){

  var mapOptions = 
  {
      maxZoom:5,
      minZoom:2,

  };

   

  handler = Gmaps.build('Google', {markers: { maxRandomDistance: null} });
  handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

  });
 }






</script>




















