<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @location.name %>
</p>

<%= link_to 'Edit', "/users/:user_id/locations/:id/edit" %> |
<%= link_to 'Back', user_location_path %>
